.weather-app {
  padding-top: 15px;
  max-width: 655px;
  margin: 30px auto;
  padding: 25px 15px;
  border: 1px solid #dadde1;
  border-radius: 6px;
  height: 625px;
}

.body-2 {
  position: relative;
  bottom: 55px;
}

.btn-outline-success {
  font-weight: 600;
  line-height: 1.5;
  position: relative;
  right: -546px;
  top: -31px;
  margin: 0px;
  border-radius: 6px;
  font-family: "Courier Prime", monospace;
  font-size: 15px;
  padding: 9px 11px;
}

.other-city {
  position: relative;
  right: 92px;
  padding: 16px 20px;
  background: #51adcf;
  border: 1px solid #51adcf;
  border-radius: 15px;
  font-size: 19px;
  font-family: "Cormorant Garamond", serif;
}

.auckland {
  position: relative;
  left: 15px;
}

.jakarta {
  position: relative;
  left: 29px;
}

.atlanta {
  position: relative;
  left: 44px;
}

.form-search-location {
  position: relative;
  top: 15px;
}

form .search-bar {
  margin: 25px 0;
  font-family: "Cormorant Garamond", serif;
  width: 350px;
  height: 46px;
}

form .btn-primary {
  position: relative;
  bottom: 1px;
  height: 47px;
  background: #2626e9;
  font-weight: 500;
}

#location {
  position: relative;
  bottom: 72px;
  left: 433px;
  background: #d54062;
  border: 1px solid #d54062;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 11px 10px;
  border-radius: 5px;
}

.searched-city {
  color: #11144c;
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  font-weight: 900;
  margin: 15px 0;
}

h1 {
  text-transform: capitalize;
}

h2 {
  font-family: "Courier Prime", monospace;
  color: #00917c;
  border: 1px solid #f9c0c0;
  background: #f9c0c0;
  opacity: 0.6;
  width: 626px;
}

li {
  list-style-type: none;
  text-transform: capitalize;
}

.weather-condition {
  color: #11144c;
  font-size: 35px;
  line-height: 1;
  font-weight: 400;
}

.weather-logo {
  position: relative;
  right: 20px;
  height: 170px;
  width: 170px;
}

.temperature-display {
  position: relative;
  right: -136px;
  top: -123px;
  color: rgb(33, 33, 33);
  font-size: 65px;
  line-height: 1;
  font-weight: 400;
}

#unit {
  position: relative;
  bottom: 148px;
  right: -131px;
  color: rgb(33, 33, 33);
  font-size: 28px;
  line-height: 1;
  font-weight: 400;
}
.second-temperature-display {
  position: relative;
  font-size: 24px;
  bottom: 185px;
  left: 269px;
}

.strong-warm {
  color: #ff4646;
  font-weight: bolder;
}

.light-cold {
  color: #09015f;
}

.list {
  position: relative;
  bottom: 72px;
  left: 145px;
}

.humidity {
  font-weight: 400;
  font-size: 24px;
  position: relative;
  right: 2px;
}

.wind {
  font-weight: 400;
  font-size: 24px;
  position: relative;
  right: 2px;
}

h3 {
  position: relative;
  bottom: 408px;
  font-family: "Courier Prime", monospace;
  padding: 15px 0;
}

.bottom-text {
  display: block;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
